edclass/__pycache__/
room/__pycache__/__init__.cpython-37.pyc
room/__pycache__/
room/migrations/
uploads/member_id_32/
uploads/course_id_2/
.vscode/settings.json
uploads/course_id_3/scaffolding/files/2020-07-01/ปกยินดีต้อนรับ-01.jpg
uploads/course_id_3/scaffolding/files/2020-07-01/ปกยินดีต้อนรับ-01_CqYXkQi.jpg
city_db/GeoLite2-City.mmdb
room/GeoLite2-Country.mmdb
