{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- ======= Hero Section ======= -->
<section id="hero">

    <div class="container">
        <div class="row d-flex align-items-center">
            <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-right">
                <h1>Bring Your New Digital Learning Environments
                </h1>
                <h2>เปลี่ยนชั้นเรียนของคุณให้เป็นสิ่งแวดล้อมการเรียนรู้สำหรับการศึกษาดิจิทัล
                    ด้วยระบบบริหารจัดการชั้นเรียนแบบสมาร์ทของเรา
                </h2>
                <a href="/viewcourse" class="btn-get-started scrollto">ดูคอร์สทั้งหมด</a>
            </div>
            <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="fade-left">
                <img src="/static/assets/img/online.png" class="img-fluid" alt="">
            </div>
        </div>
    </div>
</section><!-- End Hero -->

<main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about section-bg">
        <div class="container">

            <div class="row">
                <div class="image col-xl-5 d-flex align-items-stretch justify-content-center justify-content-lg-start">
                </div>
                <div class="col-xl-7 pl-0 pl-lg-5 pr-lg-1 d-flex align-items-stretch">
                    <div class="content d-flex flex-column justify-content-center">
                        <h3 class="text-center" data-aos="fade-in" data-aos-delay="100">รองศาสตราจารย์ ดร.สุมาลี
                            ชัยเจริญ คณบดีคณะศึกษาศาสตร์
                        </h3>
                        <h6 class="text-center mb-3">Assoc.Prof.Dr.Sumalee Chaijaroen, Dean of faculty of education
                        </h6>
                        <p data-aos="fade-in">
                            คณะศึกษาศาสตร์ มหาวิทยาลัยขอนแก่นได้ปรับเปลี่ยนเข้าสู่ยุคการศึกษาดิจิทัล
                            ด้วยการสร้างและพัฒนาระบบที่สนับสนุนความอัจฉริยะด้านการศึกษา (Smart education)
                            ซึ่งจะต้องผสานร่วมทั้งศาสตร์การสอนและเทคโนโลยีเพื่อจัดเป็นสิ่งแวดล้อมการเรียนรู้ (Learning
                            Environments)
                            ของชั้นเรียนในทุกระดับการศึกษาที่ตอบสนองทั้งการเรียนรู้ด้วยตนเองและการเรียนรู้แบบเผชิญหน้า
                            สำหรับระบบการจัดสิ่งแวดล้อมการเรียนรู้ “EduLearn”
                            เป็นแพลตฟอร์มที่พัฒนาขึ้นจากงานวิจัยและนักวิจัยซึ่งเป็นคณาจารย์และนักศึกษาระดับบัณฑิตศึกษาของคณะศึกษาศาสตร์
                            ซึ่งถือเป็นนวัตกรรมการศึกษาที่ตอบสนองการเรียนรู้ออนไลน์ที่ออกแบบมาให้ง่ายต่อการใช้งานและยังออกแบบที่อาศัยพื้นฐานทฤษฎีการเรียนรู้
                            ทีมพัฒนาของเรายังไม่หยุดที่จะสร้างสรรค์นวัตกรรมนี้ให้ต่อยอดไปเรื่อยๆพร้อมกับการเปลี่ยนแปลงของโลกการศึกษายุคใหม่ที่เป็นพลวัตร
                        </p>
                    </div><!-- End .content-->
                </div>
            </div>

        </div>
    </section><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-in">บริการ</h2>
            </div>

            <div class="row">
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="card">
                        <div class="card-img">
                            <img src="/static/assets/img/services-1.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Digital Classroom
                                </a></h5>
                            <p class="card-text">สร้างชั้นเรียนแบบดิจิทัลสำหรับการเรียนการสอนออนไลน์ ตอบสนองทุกอุปกรณ์
                            </p>
                            <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
                    <div class="card">
                        <div class="card-img">
                            <img src="/static/assets/img/services-2.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Digital Instructional Design
                                </a></h5>
                            <p class="card-text">ตอบสนองการออกแบบการสอนดิจิทัล ที่เน้นกิจกรรมการสร้างความรู้
                                และการพัฒนาทักษะการคิดขั้นสูง
                            </p>
                            <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>

                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-right">
                    <div class="card">
                        <div class="card-img">
                            <img src="/static/assets/img/services-3.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Digital Tools
                                </a></h5>
                            <p class="card-text">
                                เครื่องมือสำหรับการสอนและการเรียนรู้ที่ง่ายเชื่อมโยงกับแพลตฟอร์มการศึกษาอื่นๆ
                            </p>
                            <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>
                </div>
                <div class="col-md-6 d-flex align-items-stretch" data-aos="fade-left">
                    <div class="card">
                        <div class="card-img">
                            <img src="/static/assets/img/services-4.jpg" alt="...">
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="">Digital Resources
                                </a></h5>
                            <p class="card-text">สร้างแหล่งเรียนรู้ดิจิทัลทั้ง VDO มัลติมีเดีย ebook และเทคโนโลยีคลาวด์
                            </p>
                            <!-- <div class="read-more"><a href="#"><i class="icofont-arrow-right"></i> Read More</a></div> -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </section><!-- End Services Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features section-bg">
        <div class="container">

            <div class="row content">
                <div class="col-md-5" data-aos="fade-right">
                    <img src="/static/assets/img/features-1.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-4 align-self-center" data-aos="fade-left">
                    <h3>Digital Learning Environments
                    </h3>
                    <h5 class="font-italic">
                        เปลี่ยนชั้นเรียนแบบเดิมให้เป็นสิ่งแวดล้อมการเรียนรู้แบบดิจิทัล
                    </h5>
                </div>
            </div>

            <div class="row content">
                <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                    <img src="/static/assets/img/features-2.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1 align-self-center" data-aos="fade-right">
                    <h3>Active Learning Environments
                    </h3>
                    <h5 class="font-italic">
                        สร้างชั้นเรียนเชิงรุกที่ตอบสนองการสร้างความรู้ การเรียนรู้ด้วยปัญหาเป็นฐาน
                    </h5>
                </div>
            </div>

            <div class="row content">
                <div class="col-md-6" data-aos="fade-right">
                    <img src="/static/assets/img/features-5.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-6 pt-5 align-self-center" data-aos="fade-left">
                    <h3>Collaborative Learning Environments
                    </h3>
                    <h5 class="font-italic">กิจกรรมการเรียนรู้แบบร่วมมือเพื่อแก้ปัญหาและสร้างสรรค์ผลงาน
                        การแลกเปลี่ยนและแบ่งปัน
                    </h5>
                </div>
            </div>

            <div class="row content">
                <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
                    <img src="/static/assets/img/features-4.svg" class="img-fluid" alt="">
                </div>
                <div class="col-md-7 pt-5 order-2 order-md-1 align-self-center" data-aos="fade-right">
                    <h3>Scaffolding and Coaching
                    </h3>
                    <h5 class="font-italic">
                        การช่วยเหลือในการเรียนรู้และการโค้ชเพื่อพัฒนาความสามารถเฉพาะบุคล
                    </h5>
                </div>
            </div>

        </div>
    </section><!-- End Features Section -->

    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-in">ทีมพัฒนา</h2>
            </div>

            <div class="row justify-content-center">

                <!-- <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up">
                        <div class="pic"><img src="/static/assets/img/team/team-1.jpg" alt=""></div>
                        <h4>รศ.ดร.สิทธิพล อาจอินทร์</h4>
                        <span>รองคณบดีฝ่ายบริหาร</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div> -->

                <div class="col-xl-3 col-lg-4 col-md-6 order-2">
                    <div class="member" data-aos="fade-up" data-aos-delay="100">
                        <div class="pic"><img src="/static/assets/img/charuni.jpg" alt=""></div>
                        <h4>รศ.ดร.จารุณีย์ ซามาตย์</h4>
                        <!-- <span>รองคณบดีฝ่ายการศึกษาและพัฒนาคุณภาพ</span> -->
                        <div class="social">
                            <a href="#"><i class="icofont-twitter"></i></a>
                            <a href="https://www.facebook.com/thaibannok" target="_blank"><i class="icofont-facebook"></i></a>
                            <a href="#"><i class="icofont-instagram"></i></a>
                            <a href="#"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 order-1">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="pic"><img src="/static/assets/img/issara.jpg" alt=""></div>
                        <h4>รศ.ดร.อิศรา ก้านจักร</h4>
                        <!-- <span>รองคณบดีฝ่ายยุทธศาสตร์และพัฒนาองค์กร</span> -->
                        <div class="social">
                            <a href="#"><i class="icofont-twitter"></i></a>
                            <a href="https://www.facebook.com/issara.bt" target="_blank"><i class="icofont-facebook"></i></a>
                            <a href="#"><i class="icofont-instagram"></i></a>
                            <a href="#"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6 order-3">
                    <div class="member" data-aos="fade-up" data-aos-delay="200">
                        <div class="pic"><img src="/static/assets/img/poramin.jpg" alt=""></div>
                        <h4>นายปรมินทร์  อัตตะเนย์</h4>
                        <!-- <span>รองคณบดีฝ่ายยุทธศาสตร์และพัฒนาองค์กร</span> -->
                        <div class="social">
                            <a href="#"><i class="icofont-twitter"></i></a>
                            <a href="https://www.facebook.com/Fame.Extreme/" target="_blank"><i class="icofont-facebook"></i></a>
                            <a href="#"><i class="icofont-instagram"></i></a>
                            <a href="#"><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <!--<div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="300">
                        <div class="pic"><img src="/static/assets/img/team/team-4.jpg" alt=""></div>
                        <h4>ผศ.ดร.นิวัณน์ ศรีสวัสดิ์</h4>
                        <span>รองคณบดีฝ่ายวิจัยและนวัตกรรมการศึกษาสร้างสรรค์</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="400">
                        <div class="pic"><img src="/static/assets/img/team/team-4.jpg" alt=""></div>
                        <h4>ผศ.ดร.วายุ กาญจนศร</h4>
                        <span>รองคณบดีฝ่ายพัฒนานักศึกษาและองค์กรสัมพันธ์</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-xl-3 col-lg-4 col-md-6">
                    <div class="member" data-aos="fade-up" data-aos-delay="500">
                        <div class="pic"><img src="/static/assets/img/team/team-4.jpg" alt=""></div>
                        <h4>ผศ.ดร.กาญจนา ดาราศักดิ์</h4>
                        <span>ที่ปรึกษา</span>
                        <div class="social">
                            <a href=""><i class="icofont-twitter"></i></a>
                            <a href=""><i class="icofont-facebook"></i></a>
                            <a href=""><i class="icofont-instagram"></i></a>
                            <a href=""><i class="icofont-linkedin"></i></a>
                        </div>
                    </div>
                </div> -->
            </div>

        </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
        <div class="container">

            <div class="section-title">
                <h2 data-aos="fade-in">ติดต่อ</h2>
            </div>

            <div class="row">



                <div class="col-md-12">
                    <div class="info-box" data-aos="fade-up">
                        <i class="bx bx-map"></i>
                        <h3>ที่อยู่</h3>
                        <p>คณะศึกษาศาสตร์ มหาวิทยาลัยขอนแก่น

                            123 หมู่ 16 ถนนมิตรภาพ ตำบลในเมือง อำเภอเมือง จังหวัดขอนแก่น 40002</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-envelope"></i>
                        <h3>อีเมล</h3>
                        <p>Webmaster<br>Poramin@kkumail.com</p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="info-box mt-4" data-aos="fade-up" data-aos-delay="100">
                        <i class="bx bx-phone-call"></i>
                        <h3>โทรศัพท์</h3>
                        <p>043-202406<br>043-343452-3</p>
                    </div>
                </div>




            </div>

        </div>
    </section><!-- End Contact Section -->

</main><!-- End #main -->
{% endblock %}