{% extends 'teacher/base.html' %}

{% block content %}
<section class="mb-5">
    <div class="container">
        {% include 'teacher/classroom_nav.html' %}
        <div class="row mb-4">
        
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="col mb-2 rounded shadow-sm border p-3">
                    <h5 class="text-center">ภาระงานที่รอส่ง</h5>
                    <hr>
                    <h5 class="text-danger">{{course.uid}}</h5>
                </div>
            </div>
            <div class="col-md-8">
                <div class="col-12 mb-2 rounded shadow-sm border p-3">
                    <form id="post_form" method="POST" action="/classroom/{{course.id}}/">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-12 form-group">                                
                                <textarea class="form-control" name="steam_post" placeholder="ประกาศ..."></textarea>
                            </div>
                            <div class="col-12">
                                <div class="loading mb-2" id="post_loading">loading</div>
                            </div>
                            <div class="col-12" id="show_file">

                            </div>
                            <div class="col-md-12 mt-1 form-group text-right">
                                <span class="btn btn-light" style="position: relative;overflow: hidden;">
                                    <i class='bx bxs-file-plus'></i> เพิ่มไฟล์ <input type="file" id="get_file" style="position: absolute;
                                    top: 0;
                                    right: 0;
                                    min-width: 100%;
                                    min-height: 100%;
                                    font-size: 100px;
                                    text-align: right;
                                    filter: alpha(opacity=0);
                                    opacity: 0;
                                    outline: none;   
                                    cursor: inherit;
                                    display: block;">
                                </span>

                                <input type="file" class="sr-only"><button type="submit"
                                    class="btn btn-primary ml-auto">โพสต์</button></div>
                        </div>
                    </form>
                </div>

                <div id="post" class="mt-3"></div>
                {% for i in post %}
                <div class="col-12 mb-3 rounded shadow-sm border p-3">
                    <div class="row">
                        <div class="col-12">
                            <img src="{{i.member.picture}}" class="rounded-circle" style="width: 50px; height:50px;">
                            {{i.member.firstname | truncatechars:55}} {{i.member.lastname | truncatechars:55}} <small
                                class="text-muted">{{i.timestamp|date:'d b Y, H:i'}}</small>
                        </div>
                        <div class="w-100"></div>
                        <div class="col-12" style="min-height: 90px;">
                            {% if i.description %}
                            <hr>
                            {{i.description}}
                            {% endif %}

                            {% if i.post_file %}
                            <hr>
                            {% for f in i.post_file %}
                            <a class="btn btn-primary mb-2 mr-2" href="{{f.file_link}}" target="_blank">{{f.file_name}}</a>
                            {% endfor %}
                            {% endif %}
                        </div>
                        <div class="col-12">
                            <hr>
                            {% for j in i.reply %}
                            <div class="comment">
                                <div class="row no-gutters">
                                    <div class="col-2 text-right"><img class="comment-img" src="{{j.member.picture}}">
                                    </div>
                                    <div class="col-10">
                                        <div class="comment-text">{{j.description}}</div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <div class="comment mt-3">
                                <form action="/classroom/{{course.id}}/" method="POST" class="reply_form">
                                    {% csrf_token %}
                                    <div class="row no-gutters form-group">
                                        <div class="col-2 text-right">
                                            <img class="comment-img" src="{{member.picture}}">
                                        </div>
                                        <div class="col-10">
                                            <input type="hidden" name="post_id" value="{{i.id}}">
                                            <input type="text" name="reply" class="form-control" autocomplete="off"
                                                style="border-radius: 10px;" placeholder="แสดงความคิดเห็น">
                                            <button type="submit" class="d-none">ส่ง</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}

{% endblock %}