<ul class="nav justify-content-center classroom_nav mb-3 rounded shadow-sm border">
    <li class="nav-item {{active_nav.0}}">
        <a class="nav-link" href="/classroom/{{course.id}}"><i class='bx bxs-home'></i> Home</a>
    </li>
    <li class="nav-item {{active_nav.1}}">
        <a class="nav-link" href="/classroom/{{course.id}}/task"><i class='bx bx-task'></i> Assignment</a>
    </li>
    <li class="nav-item {{active_nav.2}}">
        <a class="nav-link" href="/classroom/{{course.id}}/score"><i class='bx bxs-crown'></i> Score</a>
    </li>
    <li class="nav-item {{active_nav.3}}">
        <a class="nav-link" href="/classroom/{{course.id}}/live"><i class='bx bxs-video'></i> Live</a>
    </li>
</ul>