{% extends 'teacher/base.html' %}

{% block content %}
<section class="mb-5 section-bg">
    <div class="container">
        {% include 'teacher/classroom_nav.html' %}
        <div class="row mb-4">

        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="col mb-2 rounded shadow-sm border p-3 bg-white">
                    <h5 class="text-center">ภาระกิจทั้งหมด</h5>
                    <hr>
                    <h5 class="text-success text-center">{{total_task}}</h5>
                </div>
            </div>
            <div class="col-md-8">
                <div class="col-12 mb-2 rounded shadow-sm border p-3 bg-white steam">
                    <form id="post_form" method="POST" action="/classroom/{{course.id}}/task/">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-md-12 form-group">
                                <div class="form-control" contenteditable="" data-placeholder="ประกาศ..."
                                    style="min-height: 50px;height:auto;" id="steam_div"></div>
                       
                            </div>
                            <div class="col-12">
                                <div class="loading mb-2" id="post_loading">loading</div>
                            </div>
                            <div class="col-12" id="show_file">

                            </div>
                            <div class="col-12">
                                <div class="progress" style="display: none;">
                                    <div class="progress-bar progress-bar-striped progress-bar-animated"
                                        role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
                                        id="get_file_progress_bar">
                                        0%</div>
                                </div>
                            </div>
                            <div class="col-md-12 mt-1 form-group text-right">
        

                                <div class="btn-group d-none">
                                    <button type="button" class="btn btn-light" data-toggle="dropdown"
                                        data-display="static" aria-haspopup="true" aria-expanded="false">
                                        <i class='bx bx-link-alt'></i> แทรกลิงก์
                                    </button>
                                    <div class="dropdown-menu dropdown-menu-right dropdown-menu-lg-left p-2">
                                        <input type="text" placeholder="แทรกลิงก์" class="form-control"
                                            style="min-width: 300px;" id="insert_link">
                                    </div>
                                </div>

                                <span class="btn btn-light" style="position: relative;overflow: hidden;">
                                    <i class='bx bxs-file-plus'></i> เพิ่มไฟล์ <input type="file" id="get_file" style="position: absolute;
                                    top: 0;
                                    right: 0;
                                    min-width: 100%;
                                    min-height: 100%;
                                    font-size: 100px;
                                    text-align: right;
                                    filter: alpha(opacity=0);
                                    opacity: 0;
                                    outline: none;   
                                    cursor: inherit;
                                    display: block;">
                                </span>

                                <input type="file" class="sr-only"><button type="submit"
                                    class="btn btn-primary ml-auto">โพสต์</button>
                            </div>
                        </div>
                    </form>
                </div>

                <div id="post" class="mt-3"></div>
                {% for i in task %}
                <div class="col-12 mb-3 rounded shadow-sm border p-3 bg-white">
                    <div class="row">
                        <div class="col-12">
                            <img src="{{i.teacher.picture}}" class="rounded-circle" style="width: 50px; height:50px;">
                            {{i.teacher.firstname | truncatechars:55}} {{i.teacher.lastname | truncatechars:55}} <small
                                class="text-muted">{{i.timestamp|date:'d b Y, H:i'}}</small>
                            <a class="btn btn-info" style="position: absolute;right: 80px;top: 10px;"
                                href="/classroom/{{course.id}}/task/{{i.id}}/main"><i class='bx bxs-arrow-to-right'></i>
                                เข้าสู่ภารกิจ</a>
                            <div class="dropdown" style="position: absolute;top: 10px;right: 25px;">
                                <a class="btn btn-light" type="button" data-toggle="dropdown" aria-haspopup="true"
                                    aria-expanded="false"><i class='bx bx-dots-vertical-rounded'></i>
                                </a>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="dropdown-item" href="/classroom/{{course.id}}/task/{{i.id}}/delete">ลบ</a>
                                </div>
                            </div>
                        </div>
                        <div class="w-100"></div>
                        {% if i.description %}
                        <div class="col-12 steam" style="min-height: 90px;">
                            <hr>
                            {{i.description | safe}}
                        </div>
                        {% endif %}
                        {% if i.task_file %}
                        <div class="col-12">
                            <hr>
                            {% for f in i.task_file %}
                            {% if f.type == 'image' %}
                            <a href='{{f.file_link}}' style='text-decoration: none;color: #000;' target='_blank'>
                                <div class='row no-gutters rounded opengraph mb-2'>
                                    <div class='col-3'><img src="{{f.file_link}}" style="width: 100%;"></div>
                                    <div class='col-9 p-3 bg-light'>
                                        <h5>{{f.file_name| truncatechars:35 }}</h5>
                                    </div>
                                </div>
                            </a>
                            {% elif f.type == 'video' %}
                            <a class="cursor" style='text-decoration: none;color: #000;' target='_blank'
                                data-toggle="modal" data-target="#f{{f.id}}">
                                <div class='row no-gutters rounded opengraph mb-2'>
                                    <div class='col-3'><img src="/uploads/0/thumbnail/video.png" style="width: 100%;">
                                    </div>
                                    <div class='col-9 p-3 bg-light'>
                                        <h5>{{f.file_name| truncatechars:35 }}</h5>
                                    </div>
                                </div>
                            </a>
                            <!-- Modal -->
                            <div class="modal fade" id="f{{f.id}}" data-backdrop="static" tabindex="-1" role="dialog"
                                aria-labelledby="staticBackdropLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="staticBackdropLabel">
                                                {{f.file_name| truncatechars:55 }}</h5>
                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="embed-responsive embed-responsive-16by9">
                                                <video class="embed-responsive embed-responsive-21by9" controls>
                                                    <source src="{{f.file_link}}" type="{{f.file_type}}">
                                                    Your browser does not support the video tag.
                                                </video>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            {% else %}
                            <a href='{{f.file_link}}' style='text-decoration: none;color: #000;' target='_blank'>
                                <div class='row no-gutters rounded opengraph mb-2'>
                                    <div class='col-3'><img src="/uploads/0/thumbnail/app.png" style="width: 100%;">
                                    </div>
                                    <div class='col-9 p-3 bg-light'>
                                        <h5>{{f.file_name| truncatechars:35 }}</h5>
                                    </div>
                                </div>
                            </a>
                            {% endif %}
                            {% endfor %}
                        </div>
                        {% endif %}
                        {% if i.og %}
                        <div class="col">
                            <hr>
                            {% for o in i.og %}
                            <a href="{{o.url}}" style="text-decoration: none;color: #000;" target="_blank">
                                <div class="row no-gutters rounded opengraph mb-2">
                                    <div class="col-3"><img src="{{o.image}}" style="width: 100%;"></div>
                                    <div class="col-9 p-3 bg-light">
                                        <h5>{{o.title}}</h5>
                                        <p>{{o.description | truncatechars:55}}</p>
                                    </div>
                                </div>
                            </a>
                            {% endfor %}
                        </div>
                        {% endif %}
                        <div class="col-12">
                            <hr>
                            <h6>ความคืบหน้า</h6>
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped bg-success" role="progressbar"
                                    style="width: {{i.percent}}%" aria-valuenow="{{i.percent}}" aria-valuemin="0"
                                    aria-valuemax="100">{{i.total_turnedin}}/{{total_member}}</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
<script>

    $(document).ready(function () {

        $('#steam_div').keydown(function (e) {
            let this_steam = $(this);
            let link = this_steam.find('a');
            link.attr('target', '_blank');

        }).keyup(function () {
            let this_steam = $(this);
            let link = this_steam.find('a');
            link.attr('target', '_blank');
        });

        $('#get_file').change(function (e) {
            let files = e.target.files[0]
            let csrfToken = document.getElementsByName('csrfmiddlewaretoken')[0].value;
            let loading = $('#post_loading');
            var $progress = $('.progress');
            var $progressBar = $('#get_file_progress_bar');
            let show_file = $('#show_file');
            let file_data = new FormData();
            file_data.append('file', files);
            file_data.append('csrfmiddlewaretoken', csrfToken);
            loading.slideDown();
            $progress.show();

            $.ajax('/classroom/{{course.id}}/task/', {
                method: 'POST',
                data: file_data,
                processData: false,
                contentType: false,
                xhr: function () {
                    var xhr = new XMLHttpRequest();

                    xhr.upload.onprogress = function (e) {
                        var percent = '0';
                        var percentage = '0%';

                        if (e.lengthComputable) {
                            percent = Math.round((e.loaded / e.total) * 100);
                            percentage = percent + '%';
                            $progressBar.width(percentage).attr('aria-valuenow', percent).text(percentage);
                        }
                    };
                    return xhr;
                },
                success: function (data) {
                    let d = data.data;
                    let txt = "";
                    if (d.file_name.length >= 35) {
                        d.file_name = d.file_name.substr(0, 30);
                        d.file_name += "...";
                    }
                    if (d.file_type.search('image') != -1) {
                        txt += "<a href='" + d.file_link + "' style='text-decoration: none;color: #000;' target='_blank'><div class='row no-gutters rounded opengraph mb-2'><div class='col-3'><img src='" + d.file_link + "' style='width: 100%;'></div>";
                        txt += "<div class='col-9 p-3 bg-light'><h5>" + d.file_name + "</h5></div></div></a>";
                    } else if (d.file_type.search('video') != -1) {
                        txt += "<a class='cursor' style='text-decoration: none;color: #000;' target='_blank'";
                        txt += "data-toggle='modal' data-target='#f" + d.id + "'>";
                        txt += "<div class='row no-gutters rounded opengraph mb-2'>";
                        txt += "<div class='col-3'><img src='/uploads/0/thumbnail/video.png' style='width: 100%;'>";
                        txt += "</div><div class='col-9 p-3 bg-light'><h5>" + d.file_name + "</h5></div></div></a>";
                    } else {
                        txt += "<a href='" + d.file_link + "' style='text-decoration: none;color: #000;' target='_blank'>";
                        txt += "<div class='row no-gutters rounded opengraph mb-2'><div class='col-3'><img src='/uploads/0/thumbnail/app.png' style='width: 100%;'>";
                        txt += "</div><div class='col-9 p-3 bg-light'><h5>" + d.file_name + "</h5></div></div></a>";
                    }
                    txt += "<input type='hidden' name='file_id[]' value='" + d.id + "'>";
                    if (data.status == 1) {
                        loading.slideUp();
                        show_file.append(txt);
                    }
                },
                complete: function () {
                    $progress.hide();
                },
            });
        });

        $('#post_form').submit(function () {
            let this_form = $(this);
            let data = this_form.serializeArray();
            let action = this_form.attr('action');
            let method = this_form.attr('method');
            let loading = this_form.find('.loading');
            let post = $('#post');
            loading.slideDown();
            let steam_div = $('#steam_div');
            data.push({ name: 'steam_div', value: steam_div.html() });


            $.ajax({
                type: method,
                url: action,
                data: data,
                dataType: 'json',
                success: function (data) {
                    loading.slideUp();
                    this_form.trigger('reset');
                    let d = data.data;
                    let f = d.firstname;
                    let l = d.lastname;
                    if (f.length >= 55) {
                        f = f.substr(0, 50);
                    }
                    if (l.length >= 50) {
                        l = l.substr(0, 50);
                    }
                    if (data.status == 1) {
                        window.location.replace(action);
                    }
                    // let txt = "<div class='col-12 mb-3 rounded shadow-sm border p-3'><div class='row'><div class='col-12'>";
                    // txt += "<img src='" + d.picture + "' class='rounded-circle' style='width: 50px; height:50px;'> ";
                    // txt += f + " " + l + " <small class='text-muted'>เมื่อซักครู่</small>";
                    // txt += "</div><div class='w-100'></div><div class='col-12' style='min-height: 90px;'><hr>";
                    // txt += d.description + "</div>";
                    // txt += "</div></div>";
                    // $(txt).hide().fadeIn(2000).insertAfter(post);
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    loading.slideUp();
                    errorFunction();
                }
            });

            return false;
        }).on('paste', function (e) {
            let paste = (event.clipboardData || window.clipboardData).getData('text');

            let expression = /[-a-zA-Z0-9@:%._\+~#=]{1,256}\.[a-zA-Z0-9()]{1,6}\b([-a-zA-Z0-9()@:%_\+.~#?&//=]*)?/gi;
            let regex = new RegExp(expression);

            const selection = window.getSelection();
            if (paste.match(expression)) {
                let url=""
                if(paste.search("http://")==-1 || paste.search("https://")==-1){
                    url+="http://"+paste;
                }
                if (!selection.rangeCount) return false;
                selection.deleteFromDocument;
                let a = document.createElement("a");
                a.href = url;
                a.text = paste;
                a.target = "_blank";
                selection.getRangeAt(0).insertNode(a);
            } 
            else {
                selection.getRangeAt(0).insertNode(document.createTextNode(paste));
            }
            selection.collapseToEnd();
            event.preventDefault();
        });

        $('#insert_video').keypress(function (e) {

            if (e.which == 13) {
                let show_file = $('#show_file');
                let val = $(this).val();
                $(this).val("");
                // let txt = "<a class='btn-link' href='" + $(this).val() + "' target='_blank'>" + $(this).val() + "</button>";
                    
                $.ajax('/ajax/fetch_og', {
                    method: 'GET',
                    data: { 'url': val,'target':'task' },
                    dataType: 'json',
                    success: function (data) {
                        let d = data.og;
                        let txt = "<a href='" + d.url + "' style='text-decoration: none;color: #000;' target='_blank'><div class='row no-gutters rounded opengraph mb-2'>";
                        txt += "<div class='col-3'><img src='" + d.image + "' style='width: 100%;'></div>";
                        txt += "<div class='col-9 p-3 bg-light'><h5>" + d.title + "</h5><p>" + d.description + "</p></div></div>";
                        txt += "<input type='hidden' name='link_id[]' value='" + d.id + "'></a>";
                        console.log(data);
                        show_file.append(txt);
                    },
                    error: function () {
                        alert("ไม่สามารถโหลดข้อมูลได้");
                    }
                });
                return false;
            }
        });

    });
</script>
{% endblock %}