{% extends 'student/base.html' %}

{% block content %}
<section class="section-bg">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4 col-xl-3" id="add-card">
                <div class="add-classroom align-items-center justify-content-center mb-2 shadow border d-flex"
                    data-toggle="modal" data-target="#exampleModal">
                    <h3><i class='bx bxs-add-to-queue'></i> เข้าร่วมชั้นเรียน</h3>
                </div>
            </div>

            {% for k in enrolment %}
            {% for i in k.c %}
            <div class="col-md-4 col-xl-3 align-items-center">
                <a href="/classroom/{{i.id}}">
                    <div class="shadow mb-2 border card">
                        <div class="card-img">
                            <img src="{{i.cover_pic}}">
                        </div>
                        <div class="card-detail">
                            <h4>{{i.course_name | truncatechars:50}}</h4>
                            <span>{{i.teacher.firstname}} {{i.teacher.lastname}} | <i class='bx bxs-user'></i> จำนวนผู้เรียน :
                                {{k.e}}</span>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
            {% endfor %}
        </div>
    </div>
</section>
{% endblock %}

{% block modal %}
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">เข้าร่วมชั้นเรียน</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" action="/dashboard/" id="add-class" class="cc">
                    {% csrf_token %}
                    <div class="form-group row">
                        <div class="col-sm-12">
                            <input type="text" placeholder="รหัสเข้าร่วมชั้นเรียน" autocomplete="off"
                                class="form-control" name="uid" id="class-name" required>
                        </div>
                    </div>

                    <div class="loading mb-3">Loading</div>
                    <div class="error-message mn-3"></div>
                    <div class="text-right"><button type="submit" class="btn btn-primary">เข้าร่วม</button></div>


                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script>
    jQuery(document).ready(function ($) {

        $('#add-class').submit(function () {
            let this_form = $(this);
            let data = this_form.serializeArray();
            let action = this_form.attr('action');
            let method = this_form.attr('method');
            let loading = this_form.find('.loading');
            let error = this_form.find('.error-message');
            loading.slideDown();

            function create_card(id, course_name, description, cover_pic, enrolment, firstname, lastname) {
                if (course_name.length > 50) {
                    course_name = course_name.substr(0, 50);
                    course_name += "...";
                }
                if (firstname.length >= 55) {
                    firstname = firstname.substr(0, 50);
                }
                if (lastname.length >= 50) {
                    lastname = lastname.substr(0, 50);
                }

                let html = "<div class='col-md-4 col-xl-3 align-items-center' data-aos='fade-right'>";
                html += "<a href='/classroom/" + id + "'>";
                html += "<div class='shadow mb-2 border card'>";
                html += "<div class='card-img'>";
                html += "<img src='" + cover_pic + "'></div>";
                html += "<div class='card-detail'>";
                html += "<h4>" + course_name + "</h4>";
                html += "<span> " + firstname + " " + lastname + " | จำนวนผู้เรียน : " + enrolment + "</span></div></div></a></div>";
                return html;
            }


            $.ajax({
                type: method,
                url: action,
                data: data,
                dataType: 'json',
                success: function (data) {
                    loading.slideUp();
                    this_form.trigger('reset');
                    console.log(data);

                    if (data.status == 1) {
                        this_form.find('.loading').slideUp();
                        this_form.find("input, textarea").val('');
                        $('#exampleModal').modal('toggle');
                        $('#exampleModal').hide();
                        let txt = "";
                        let source = data.latest_course;
                        txt = create_card(source.id, source.course_name, source.description, source.cover_pic, source.enrolment, source.firstname, source.lastname);
                        $('#add-card').after(txt);
                    } else if (data.status == -1) {
                        error.slideDown().html("ท่านลงทะเบียนวิชานี้แล้ว");
                    } else {
                        error.slideDown().html("ไม่สามารถลงทะเบียนได้");
                    }

                },
                error: function (jqXHR, textStatus, errorThrown) {
                    loading.slideUp();
                    errorFunction();
                }
            });

            return false;
        });
    });

</script>
{% endblock %}