<div class="p-3 justify-content-center" style="top: 15px;border-radius: 8px;">
    <h5 class="text-center">เมนู</h5>
    <div>
        <nav class="navbar navbar-expand-lg navbar-light">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#target_nav"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-center" id="target_nav">
                <ul class="nav d-flex flex-column justify-content-center col-12" id="main_nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/classroom/{{course.id}}/task"><i
                                class='bx bxs-left-arrow-circle'></i> กลับห้องเรียน</a>
                    </li>
                    <hr>
                    <li class="nav-item">
                        <a class="nav-link {{is_active.0}}" href="/classroom/{{course.id}}/task/{{task.0.id}}/main"><i
                                class="bx bx-task"></i> ปัญหา/ภารกิจ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{is_active.1}}"
                            href="/classroom/{{course.id}}/task/{{task.0.id}}/resource"><i class='bx bxs-book'></i>
                            แหล่งเรียนรู้</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{is_active.2}}"
                            href="/classroom/{{course.id}}/task/{{task.0.id}}/scaffolding"><i
                                class='bx bx-list-check'></i>
                            ฐานความช่วยเหลือ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{is_active.3}}" href="/classroom/{{course.id}}/task/{{task.0.id}}/global"><i
                                class='bx bx-comment-detail'></i>
                            แลกเปลี่ยนเรียนรู้</a>
                        <ul class="nav" id="sub-nav">
                            <li class="nav-item">
                                <a class="nav-link cursor {{ad_col}}"
                                    href="/classroom/{{course.id}}/task/{{task.0.id}}/addgroup"><i
                                        class='bx bxs-group'></i> ดูกลุ่มย่อย</a>
                            </li>
                            {% if group_bar %}
                            {% for i in group_bar %}
                        
                            <li class="nav-item">
                                <a class="nav-link {{i.active}}"
                                    href="/classroom/{{course.id}}/task/{{task.0.id}}/group/{{i.id}}"><i
                                        class='bx bxs-chat'></i> {{i.title}}</a>
                            </li>
                    
                            {% endfor %}
                            {% endif %}
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {{is_active.4}}" href="/classroom/{{course.id}}/task/{{task.0.id}}/coach"><i
                                class='bx bxs-user-check'></i>
                            ปรึกษาผู้เชี่ยวชาญ</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</div>