{% extends 'teacher/base.html' %}

{% block content %}

<!-- <section class="section-bg"> -->
<div class="container-fluid section-bg">
    <div class="row">
        <div class="col-md-3 bg-white border shadow-sm d-none d-md-block sticky-top"
            style="height: calc(100vh + 4rem);">
            {% include 'student/main_nav.html' %}
        </div>
        <div class="col-md-3 mb-3 bg-white border shadow-sm d-block d-md-none">
            {% include 'student/main_nav.html' %}
        </div>

        <div class="col-md-9 col-12 mb-3 mt-md-5">
            <div class="col-12 mb-3 rounded shadow-sm border p-3 bg-white">
                <div class="row">
                    <div class="col-12">
                        <h4 class="text-center">ให้คะแนน</h4>
                        <div class="table-responsive mt-5">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="text-center">
                                        <th scope="col" style="width: 70px;">ลำดับ</th>
                                        <th scope="col">ชื่อ</th>
                                        <th scope="col">คะแนน</th>
                                        <th scope="col">การส่งงาน</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in enrolment %}
                                    <tr class="text-center">
                                        <td>
                                            {{forloop.counter}}
                                        </td>
                                        <td class="text-left">
                                            <img src="{{i.member.picture}}"
                                                style="width:40px;margin-right: 0.8rem;height: 40px;"
                                                class="rounded-circle">{{i.member.firstname | truncatechars:50}}
                                            {{i.member.lastname | truncatechars:50}}
                                        </td>
                                        <td class="text-center justify-content-center">
                                            {% for j in i.turnedin %}
                                            <form
                                                class="scoring">
                                                {% csrf_token %}
                                                <input type="hidden" name="turnedin_id" value="{{j.id}}">
                                                <input type="text" readonly class="form-control-plaintext text-center" name="score"
                                                    value="{{j.score}}">
                                            </form>
                                            {% endfor %}
                                        </td>
                                        <td class="text-center">
                                            {% if i.turnedin_status == 'turnedin' %}
                                            <span class="text-success"><i class='bx bx-check'></i> ส่งแล้ว</span>
                                            {% else %}
                                            <span class="text-danger"><i class='bx bx-x'></i> ยังไม่ส่ง</span>
                                            {% endif %}
                                        </td>
                                 
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<!-- </section> -->
{% endblock %}